:root {
    --weapon-list-width: 640px;
    --attack-stats-width: calc(( var(--weapon-list-width) / 2) + ( var(--weapon-list-width) * (1/3)));
    --weapon-list-damage-segments: calc(var(--weapon-list-width) / 12);
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: #222;
    overflow: hidden;
}

#SPA {
    display: grid;
    height: 100vh;
    max-height: 100vh;
    grid-template-columns: 160px auto;
    grid-template-rows: 48px auto;
}

.main-page-display {
    overflow-y: auto;
}

.chain-options-modal-close,
.build-modal-close {
    position: absolute;
    left: -4096px;
    height: 0px;
    margin: 0px;
    padding: 0px;
}

.tooltip {
    white-space: pre;

    position: absolute;
    max-width: 280px;
    z-index: 6;
    padding: 3px;
    background-image: linear-gradient(135deg, #E66 6px, #AAA 6px, 9px, #EEE 9px, #EEA 100%);
    background-image: -moz-linear-gradient(135deg, #E66 6px, #AAA 6px, 9px, #EEE 9px, #EEA 100%);
    border: 2px solid black;
    border-radius: 2px 6px 6px 6px;
    box-shadow: 2px 2px 6px 0 #000000AA;
}

.js-button {
    user-select: none;
    background: #333;
    color: #DDD;
    border: 2px solid #222;
    border-radius: 4px;
    padding: 6px;
}
.js-button:hover {
    border-color: #2222AA;
}
.js-button:active {
    background: #555;
}

.js-input {
    background: #CCC;
    height: 20px;
    line-height: 48px;
    padding: 0;
}

.toggle-hbfs {
    margin: 4px;
    padding: 2px;
}

.console-compare {
    position: absolute;
    background: #666;
    width: 600px;
    top: 150px;
    left: calc(50% - 300px);
    z-index: 3;
}

.console-compare > div {
    margin: 2px;
}

.console-compare-weapon-container {
}

.console-compare-weapon-passed {
    border: 1px solid green;
}

.console-compare-weapon-failed {
    border: 1px solid red;
}

.console-compare-close-button {
    background: #B00;
    width: 140px;
}

.select-page {
}

.header {
    position: absolute;
    display: flex;
    justify-content: center;
    height: 48px;
    width: 100%;
    padding: 4px;
    background: linear-gradient(180deg, #333, #444);
    background: -moz-linear-gradient(180deg, #333, #444);
    box-shadow: 0 .25px 12px 0 black;
}
.header > .js-button {
    height: 34px;
    margin: 4px;
}
.header > input,
.header > select {
    margin: auto 4px;
}

.header-dummy {
    width: 100%;
    display: block;
    content: "a";
    color: rgba(0,0,0,0);
    height: 48px;
    grid-row: 1 / 2;
    grid-column: 1 / 3;
}

.main-page {
    min-height: calc(100vh - 48px);
    max-width: 984px;
    overflow-y: auto;
    background: #222;
}

.build-number {
    background: #EEE6;
    margin: auto 4px auto auto;
    padding: 4px;
    border-radius: 2px;
}

.community-link {
    margin-top: auto;
    padding: 2px 2px 4px 2px;
    background: #EEE4;
    text-align: center;
}

.input-power-level {
    padding: 2px 0 0 2px;
}

.select-difficulty {
}

.select-platform {
}

.hide-page {
    display: none;
}

.grid-template {
    display: grid;
}

.attack-page {
    width: 100%;
}

.attack-page > div {
    text-align: center;
    font-size: 30px;
}

.weapon-page {
    grid-template-columns: 160px auto;
    grid-template-rows: auto;
}

.weapon-page > div {
    text-align: center;
    font-size: 30px;
}

.resource-page {
    padding: 4px;
}

.sidebar {
    background-image: linear-gradient(170deg, #555, #666 1500px);
    background-image: -moz-linear-gradient(170deg, #555, #666 1500px);
    display: flex;
    flex-direction: column;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.sidebar > div:not(.community-link) {
    margin: 4px;
}

.dropdown-button > div{
    position: relative;
    left: -4096px;
    height: 0px;
}

.dropdown-button:hover > div{
    position: absolute;
    left: auto;
    height: auto;
    background: blue;
    font-size: 50px;
}

.build-button {
    text-align: center;
    font-size: 24px;
    height: 40px;
    padding: 4px;
}

.build-button-sticky {
    position: absolute;
    left: -4096px;
    height: 0px;
    margin: 0px;
    padding: 0px;
}

.modal-container {
    position: absolute;
    display: flex;
    flex-direction: row;
    max-height: 0px;
    width: 100%;
    top: 140px;
}

@media only screen and (max-height: 840px) {
    .modal-container {
        top: calc(50% - 280px);
    }
}

.modal-wrapper {
    margin: 0 auto 0 auto;
}

.build-modal {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background: #555;
    border: 2px solid #222;
    border-radius: 8px;
    margin: auto;
    padding: 4px;
    box-shadow: 1px 1px 6px 0 black;
    z-index: 1;
}

.copy-build {
    user-select: auto;
    margin-bottom: 6px;
}

.failed-copy,
.failed-copy:hover {
    border-color: #B00;
}

.career-and-gear {
    display: flex;
    flex-direction: column;
}

.career-and-gear > .item-container {
    width: 180px;
}

.select-career {
    width: 100%;
    margin-bottom: 4px;
}

.item-container {
    background: #888;
    border: 1px solid #222;
    border-radius: 4px;
    padding: 2px;
    margin: 2px 0px 2px 0px;
    text-align: center;
}

.item-container > select {
    margin: 2px;
    width: calc( 100% - 4px);
    text-align: center;
}
.item-container > .select-weapon {
    height: 30px;
    line-height: 15px;
}
.item-container > .select-property {
    margin-top: 1px;
}
.item-container > .select-trait {
    margin-top: 4px;
}

.item-property {
}

.talent-tree {
    display: flex;
    flex-direction: column;
}

.talent-row {
    background: #777;
    display: flex;
    flex-direction: row;
    border: 2px solid #222;
    border-radius: 8px;
    margin: 8px 8px auto 8px;
    padding: 2px;
}

.talent {
    height: 64px;
    width: 180px;
    margin: 2px;
    padding: 2px;
    font-size: 16px;
    word-wrap: break-word;
}

.not-active-talent {
    background: #666;
    color: #AAA;
}

.buff-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.buff {
    background: #AAA;
    border: 1px solid #222;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    margin: 2px;
    padding: 4px;
    max-width: 232px;
}

.buff-name {
    font-size: 16px;
    word-wrap: break-word;
}

.buff-toggle {
}

.buff-input {
}

.select-character {
    width: 100%;
    height: 40px;
    margin-bottom: 4px;
}

.attack-plate {
    display: flex;
    flex-direction: column;
    padding: 4px;
}

.attack-combo {
    background: #777;
    border-radius: 4px;
    margin: 4px;
}

.attack-combo-title {
    margin: 2px;
}

.weapon-breakpoints-container {
    background: #777;
    border-radius: 4px;
    max-width: 968px;
    margin: 4px;
}

.weapon-breakpoints {
    background: gray;
    border-radius: 4px;
}

.weapon-breakpoints-attacks {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.weapon-name {
    border-radius: 4px;
    margin: 2px;
    padding: 4px;
}

.weapon-attack {
    flex-basis: 30%;
    font-size: 20px;
    padding: 4px;
    margin: 2px auto 2px auto;
}

.breakpoint-plate {
    background: #444;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 4px;
    border: 2px solid black;
    margin: 2px;
}

.mob-name {
    border: 0 solid black;
    border-width: 2px 1px 0 1px;
    background: #888;
    font-size: 15px;
}

.combo-info {
    display: flex;
    flex-direction: column;
}

.combo-speed {
    background: #8A8;
}

.combo-damage-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.combo-damage-box > div {
    background-image: linear-gradient(45deg, #CBA8, #4564);
    background-image: -moz-linear-gradient(45deg, #CBA8, #4564);
    padding: 0px 6px 0px 6px;
    width: 64px;
    border: 1px solid #222;
    font-size: 22px;
}

.combo-damage-box > div:first-child {
    border-radius: 4px 0px 0px 4px;
}
.combo-damage-box > div:last-child {
    border-radius: 0px 4px 4px 0px;
}

/*.breakpoint-column:first-child {
    margin-left: 0px;
}
.breakpoint-column:last-child {
    margin-right: 0px;
}                      */
.breakpoint-row {
    display: flex;
    flex-direction: row;
    width: 240px;
    font-size: 14px;
}
.breakpoint-row > div {
    width: 60px;
}

/*.mob-name {
    background: #EEE8;
    border-radius: 4px;
}*/

.weapon-list-holder {
    position: absolute;
    background: #666;
    margin: auto;
    width: 360px;
    left: calc(50% - 180px);
    padding: 4px;
    z-index: 2;
}

.weapon-list-container {
    height: calc(100vh - 8px);
    overflow-y: scroll;
}

.weapon-list {
    display: flex;
    flex: 0;
    flex-direction: column;
}

.weapon-attacks-container {
    overflow: auto;
    height: calc(100vh - 48px);
    grid-row: 1 / 3;
}

.attack-block {
    background: #666666;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.attack-details {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.weapon-header {
    display: flex;
    flex-direction: row;
}

.weapon-holder {
    float: left;
    width: 320px;
    margin: 0px 6px 4px 6px;
    padding: 3px;
    border-radius: 4px;
    background: #886644;
}

.weapon-holder:hover {
    background: #2222AA
}

.weapon-list-weapon-name {
    padding: 2px;
    margin: 4px;
    font-size: 25px;
}

.weapon-damage {
    width: var(--weapon-list-damage-segments);
    font-size: 14px;
    border-style: solid;
    border-width: 0px 0px 0px 2px;
    background: #EFEFEF;
}

.weapon-damage:nth-child(even) {
    background: #CFCFCF;
}

.weapon-ranged {
    background: #EFEFCF;
}

.chain-attack-container {
    border: 2px dotted black;
    border-radius: 8px;
    margin: 4px;
}
.chain-attack-container > * {
    margin: 4px;
}

.chain-attack-header {
    background: #333;
    color: #BBB;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    padding: 4px;
    text-align: center;
}

.chain-options-modal {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background: #555;
    border: 2px solid #222;
    border-radius: 8px;
    height: 500px;
    width: 500px;
    z-index: 5;
}

.attack-options {
    background: #888;
    display: flex;
    flex-direction: row;
}

.attack-count {
    background: #AAA;
    line-height: calc(200% + 7px);
    min-width: 18px;
    text-align: center;
}

.attack-name-options {
    padding: 0 4px 0 4px;
}
.attack-name-options > p {
    font-size: 22px;
}

.attack-option-select {
    margin: auto 100px auto auto;
}

.headshot-percent {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.headshot-percent > div {
    margin: auto;
}

.select-headshot-percent {
    width: 80px;
}

.chain-attack-select {
}

.chain-attack-dropdown {
    width: 100%;
}

.weapon-plate {
    display: flex;
    flex-direction: column;
    padding: 4px;
}

.weapon-attacks {
    background: #888;
    margin: 4px;
    max-width: 988px;
    border-radius: 4px;
}

.weapon-title {
    background-image: linear-gradient(178deg, #EEE, #AAA);
    background-image: -moz-linear-gradient(178deg, #EEE, #AAA);
    padding-left: 3px;
    padding-right: 3px;
    font-size: 25px;
    border-radius: 4px 4px 0 0;
}

.attacks-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 8px;
}

.attack {
    display: flex;
    background: #BBBB66;
    border: 2px solid black;
    border-radius: 4px;
    flex-direction: column;
    width: 240px;
    margin: 2px 1px;
}

.attack-header {
    display: flex;
    background-image: linear-gradient(0deg, #AA7733 50%, transparent 50%);
    background-image: -moz-linear-gradient(0deg, #AA7733 50%, transparent 50%);
}

.weapon-attack-name {
    background: #BBBB66;
    border-radius: 8px 0 8px 0;
    margin: 0;
    font-size: 16px;
    flex-basis: 90%;
}

.attack-speed {
    background: #AA7733;
    border-radius: 8px 0 0 0;
    margin-left: auto;
    right: 0;
    width: 40px;
}

.svg-attack-speed {
    font-size: 18px;
    padding: 2px;
    width: 36px;
}

.attack-modifiers {
    background: #AA7733;
    min-height: 12px;
    border-radius: 8px 0 0 0;
    padding: 2px;
}

.attack-modifiers > div {
    font-size: 16px;
}

.damage-table {
    background: #AA7733;
    display: grid;
}

.damage-table > div {
    width: 59px;
/*    font-family: Segoe UI;    */
}

.damage-table > .neither {
    grid-column: 1;
}
.damage-table > .headshot {
    grid-column: 2;
}
.damage-table > .critical {
    grid-column: 3;
}
.damage-table > .both {
    grid-column: 4;
}

.infantry {
    background: #DFBC89AA;
}

.armored {
    background: #CF4C39AA;
}

.monster {
    background: #4FBFC9AA;
}

.berserker {
    background: #4FCC49AA;
}

.superarmored {
    background: #DF5CD9AA;
}

.neither,
.headshot,
.critical,
.both {
    height: 20px;
    line-height: 18px;
    font-size: 11px;
    font-weight: bold;
    font-family: Tahoma;
    border: 1px solid #222;
}

.neither {
    background-image: linear-gradient(-45deg, #8883, #FFF1);
    background-image: -moz-linear-gradient(-45deg, #FFF3, #FFF1);
}

.headshot {
    background-image: linear-gradient(-45deg, #8803, #FF01);
    background-image: -moz-linear-gradient(-45deg, #FF03, #FF01);
}

.critical {
    background-image: linear-gradient(-45deg, #8003, #F001);
    background-image: -moz-linear-gradient(-45deg, #F003, #F001);
}

.both {
    background-image: linear-gradient(-45deg, #0083, #00F1);
    background-image: -moz-linear-gradient(-45deg, #00A3, #00F1);
}

.damage-change {
    animation-name: damage-change;
    animation-duration: 1.5s;
}

.resource-tab {
    color: #DDD;
    background: #777;
    border-radius: 4px;
    margin: 4px;
    padding: 2px;
}

.resource-title-wrapper {
}

.resource-title {
    text-align: center;
    font-size: 30px;
}

.resource-item-title {
    background-image: linear-gradient(180deg, #999, #777);
    color: #DDD;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    margin: 0 auto;
    padding: 4px;
}

.resource-item {
    background: #000;
    margin: 2px;
    padding: 2px;
}
.resource-item > p:not(.math) {
    margin: 4px;
}
.resource-item > a {
    color: #AAD;
}

.resource-example {
    user-select: none;
    margin: 4px;
}

.glossary-tab > div > div:not(.glossary-item):not(.copy-build-examples):not(.resource-title) {
    color: black;
    text-align: center;
}

.breakpoint-examples {
    background: #AA7733;
    display: flex;
    flex-direction: row;
    width: 240px;
    margin-left: auto;
    margin-right: auto;
}
.breakpoint-examples > div {
    width: 60px;
}

.combo-speed-examples {
    background: #777;
    font-size: 30px;
    width: 80px;
    margin-left: auto;
    margin-right: auto;
}

.copy-build-examples {
    color: #DDD;
    text-align: center;
    width: 100px;
    margin: 0 auto;
}

.hit-type-examples > p:not(.math) {
    margin: 0;
    margin-bottom: 4px;
}
.hit-type-examples > p > .normal-hit {
    color: white;
}
.hit-type-examples > p > .headshot-hit {
    color: yellow;
}
.hit-type-examples > p > .critical-hit {
    color: #E00;
}

.external-resources-tab > div > p:not(.math) {
    margin-top: 0;
}

.indent-1 {
    text-indent: 16px;
}


@keyframes damage-change {
    0% {
        border: 1px solid #F22
    }
    100% {
        border: 1px solid #222
    }
}

@media only screen and (max-width: 800px) {
    option {
        padding: 0;
    }

    body {
        overflow-y: auto;
    }

    #SPA {
        display: flex;
        flex-direction: column;
        min-height: auto;
        max-height: none;
        height: auto;
    }

    .main-page-display,
    .main-page {
        overflow: hidden;
        height: auto;
        min-height: auto;
    }

    .main-page-display {
    }

    .header {
        position: relative;
        height: auto;
        flex-wrap: wrap;
        box-shadow: none;
    }
    .header > *:not(.select-page) {
        flex-basis: 40%;
        margin: 2px;
    }

/*
    .header-dummy {
        background: blue;
        flex-basis: var(--header-height);
        min-height: var(--header-height);
        width: 100%;
        order: 0;
    }
*/

    .sidebar {
        height: auto;
/*        flex-basis: 50%;          */
        grid-column: auto / auto;
        grid-row: auto / auto;
    }

    .select-page {
        flex-basis: 45%;
        text-align: center;
    }

    .chain-attack-container {
    }

    .chain-options-modal {
        min-height: 100vh;
        height: auto;
        width: 100vw;
    }

    .attack-option-select {
        margin: auto 16px auto auto;
    }

    .build-button-sticky {
        position: sticky;
        top: 0;
        left: auto;
        height: auto;
        width: 100%;
        z-index: 1;
    }
    .build-button-sticky > div {
        border-radius: 0;
        font-size: 32px;
        height: auto;
    }
/*
    .build-button-wrapper {
        position: absolute;
    }

    .build-button {
        position: sticky;
    }
*/

    .modal-container {
        position: fixed;
        max-width: 1000px;
        max-height: 100vh;
        top: 0;
        z-index: 2;
    }

    .modal-wrapper {
        overflow: auto;
        overflow-x: hidden;
    }

    .build-modal {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .chain-options-modal-close,
    .build-modal-close {
        position: relative;
        background: #4A4;
        border-radius: 4px;
        left: auto;
        height: 120px;
        line-height: 120px;
        width: 100%;
        margin: auto auto 0 auto;
        text-align: center;
        font-size: 28px;
    }

    .copy-build {
        width: 100%;
    }

    .copy-build-examples {
        width: 100px;
    }

    .career-and-gear {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .select-career {
        flex-basis: 100%;
        height: 40px;
        font-size: 24px;
    }

    .item-container {
        flex-basis: 30%;
        margin: 8px auto 8px auto;
        max-width: 280px;
    }

    .item-container > select {
        height: 25px;
    }

    .item-weapon {
        flex-basis: 40%;
        max-width: 300px;
    }

    .select-weapon {
        height: 30px;
    }

    .talent-row {
        max-width: 100%;
        margin: 4px auto 4px auto;
    }

    .talent {
        height: 80px;
        font-size: 14px;
        text-align: center;
    }

    .buff {
        max-width: 100%;
    }

    .attack-combo {
        max-width: 100%;
    }

    .weapon-breakpoints-container {
        max-width: 100%;
    }

    .weapon-breakpoints {
        max-width: 100%;
        margin: auto 0 0 0;
    }

    .weapon-attack {
        flex-basis: 48%;
        font-size: 16px;
    }

    .breakpoint-plate {
        flex-direction: column;
    }
    .breakpoint-plate > div {
        border: 1px solid #222;
        margin: 2px;
        margin-top: 4px;
    }
    .breakpoint-plate > div:first-child {
        margin-top: 2px;
    }

    .mob-name {
        border-width: 0;
    }

    .breakpoint-row {
        width: auto;
    }
    .breakpoint-row > div {
        flex-basis: 25%;
        width: auto;
    }

    .attack {
        margin: auto;
    }

    .neither,
    .headshot,
    .critical,
    .both {
        height: 16px;
        line-height: 16px;
        font-size: 14px;
        font-weight: normal;
        border: 1px solid #222;
        border-bottom-width: 0;
    }

    .build-button-wrapper,
    .header-dummy,
    .community-link,
    .build-number {
        position: absolute;
        left: -4096px;
        height: 0px;
        margin: 0px;
        padding: 0px;
    }

}

.no-scroll {
    overflow: hidden;
}

.hide {
    position: absolute;
    left: -4096px;
    height: 0px;
    margin: 0px;
    padding: 0px;
}